/* System_Admin.css */

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  #adminInfo {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .admin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .admin-details {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
  }
  
  #admin-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .admin-position,
  .email,
  .birthday,
  .address,
  .role,
  .create {
    margin-bottom: 8px;
    color: #555;
  }
  
  .logout {
    background-color: #d9534f; /* Màu đỏ */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout:hover {
    background-color: #c9302c; /* Màu đỏ đậm khi hover */
  }
  
  .adminButton {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
    background-color: #eee;
  }
  
  .button-container {
    background-color: #eee; /* Màu nền của container nút */
    padding: 10px; /* Khoảng cách giữa nút và viền container */
    border-radius: 8px;
  }
  
  .adminButton button {
    background-color: #5bc0de; /* Màu xanh dương */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none; /* Loại bỏ underline */
  }

  .adminButton button a {
    color: #fff;
    text-decoration: none;
  }
  
  .adminButton button:hover {
    background-color: #46b8da; /* Màu xanh dương đậm khi hover */
    color: #fff; /* Màu chữ trắng khi hover */
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .admin-card {
      flex-direction: column;
    }
  
    .admin-details {
      text-align: center;
    }
  }
  