.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.index .background {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.index .text-wrapper-0 {
    color: #1e1e1e;
    font-family: "Junge", Helvetica;
    font-size: 400%;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 105%;
    width: 100%;
}

.index .overlap-1 {
    left: 0;
    position: absolute;
    top: 120%;
    width: 100%;
}

.index .room-info {
    background-color: #ffffff;
    height: 50%;
    overflow: hidden;
    position: relative;
    width: 100%;
}