.Staff {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    border-radius: none;
}

.blank {
    height: 20vh;
}