/* Apply the background color to the outer container */
.outerContainer {
    background-color: #ddd;
    min-height: 100vh; /* Set a minimum height to cover the viewport */
  }
  
  .bookRoomContainer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 100%;
  }
  
  .rl, .rf {
    background-color: #fff; /* Set the background color for rl and rf */
    padding: 20px; /* Add padding as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow */
    border-radius: 8px; /* Optional: Add border-radius */
  }
  
  .rl {
    flex: 1; /* Adjust the flex property as needed */
    margin-right: 20px; /* Add margin between rl and rf */
  }
  
  .rf {
    flex: 1; /* Adjust the flex property as needed */
  }
  