

.bookRoom {
    font-family: Arial, sans-serif;
    width: 60vw;
    height: 100vh;
}



#booking-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(172, 16, 16, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"],
select,
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #797474;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
    margin: auto; 
}

input[type="submit"]:hover {
    background-color: black;
}

.number-input {
    display: flex;
    align-items: center;
}

.number-input button {
    background-color: #797474;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.number-input button:hover {
    background-color: black;
}

